


#Main{
    width: 100%;
    height:600px;
    border: 1px solid black;
    display: flex;
}

.box1{
    
    flex: 0.8;
    border: 1px solid red;
   position: relative;

}
.box2{
    
    flex: 1;
    border: 1px solid red;
}